<!DOCTYPE html>
<html lang="en">
<head>
  <title>Salary Predictor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <form action="/predict" method="POST">
      <label for="age">Age</label>
      <input type="number" id="age" name="age" min="15" max="100">
      <br>

      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="1">Male</option>
        <option value="0">Female</option>
      </select>
      <br>

      <label for="education">Education Level</label>
      <select id="education" name="education">
        <option value="0">High School</option>
        <option value="1">Bachelors</option>
        <option value="2">Masters</option>
        <option value="3">Phd</option>
      </select>
      <br>

      <label for="job_title">Job Title</label>
      <select id="job_title" name="job_title">
          <option value="Account Executive">Account Executive</option>
          <option value="Account Manager">Account Manager</option>
          <option value="Accountant">Accountant</option>
          <option value="Administrative Assistant">Administrative Assistant</option>
          <option value="Advertising Coordinator">Advertising Coordinator</option>
          <option value="Back end Developer">Back end Developer</option>
          <option value="Business Analyst">Business Analyst</option>
          <option value="Business Development Associate">Business Development Associate</option>
          <option value="Business Development Manager">Business Development Manager</option>
          <option value="Business Intelligence Analyst">Business Intelligence Analyst</option>
          <option value="Business Operations Analyst">Business Operations Analyst</option>
          <option value="CEO">CEO</option>
          <option value="Chief Data Officer">Chief Data Officer</option>
          <option value="Chief Technology Officer">Chief Technology Officer</option>
          <option value="Consultant">Consultant</option>
          <option value="Content Marketing Manager">Content Marketing Manager</option>
          <option value="Copywriter">Copywriter</option>
          <option value="Creative Director">Creative Director</option>
          <option value="Customer Service Manager">Customer Service Manager</option>
          <option value="Customer Service Rep">Customer Service Rep</option>
          <option value="Customer Service Representative">Customer Service Representative</option>
          <option value="Customer Success Manager">Customer Success Manager</option>
          <option value="Customer Success Rep">Customer Success Rep</option>
          <option value="Customer Support Specialist">Customer Support Specialist</option>
          <option value="Data Analyst">Data Analyst</option>
          <option value="Data Engineer">Data Engineer</option>
          <option value="Data Entry Clerk">Data Entry Clerk</option>
          <option value="Data Scientist">Data Scientist</option>
          <option value="Delivery Driver">Delivery Driver</option>
          <option value="Designer">Designer</option>
          <option value="Developer">Developer</option>
          <option value="Digital Content Producer">Digital Content Producer</option>
          <option value="Digital Marketing Manager">Digital Marketing Manager</option>
          <option value="Digital Marketing Specialist">Digital Marketing Specialist</option>
          <option value="Director">Director</option>
          <option value="Director of Business Development">Director of Business Development</option>
          <option value="Director of Data Science">Director of Data Science</option>
          <option value="Director of Engineering">Director of Engineering</option>
          <option value="Director of Finance">Director of Finance</option>
          <option value="Director of HR">Director of HR</option>
          <option value="Director of Human Capital">Director of Human Capital</option>
          <option value="Director of Human Resources">Director of Human Resources</option>
          <option value="Director of Marketing">Director of Marketing</option>
          <option value="Director of Operations">Director of Operations</option>
          <option value="Director of Product Management">Director of Product Management</option>
          <option value="Director of Sales">Director of Sales</option>
          <option value="Director of Sales and Marketing">Director of Sales and Marketing</option>
          <option value="Engineer">Engineer</option>
          <option value="Event Coordinator">Event Coordinator</option>
          <option value="Financial Advisor">Financial Advisor</option>
          <option value="Financial Analyst">Financial Analyst</option>
          <option value="Financial Manager">Financial Manager</option>
          <option value="Front End Developer">Front End Developer</option>
          <option value="Front end Developer">Front end Developer</option>
          <option value="Full Stack Engineer">Full Stack Engineer</option>
          <option value="Graphic Designer">Graphic Designer</option>
          <option value="HR Coordinator">HR Coordinator</option>
          <option value="HR Generalist">HR Generalist</option>
          <option value="HR Manager">HR Manager</option>
          <option value="HR Specialist">HR Specialist</option>
          <option value="Help Desk Analyst">Help Desk Analyst</option>
          <option value="Human Resources Coordinator">Human Resources Coordinator</option>
          <option value="Human Resources Director">Human Resources Director</option>
          <option value="Human Resources Manager">Human Resources Manager</option>
          <option value="Human Resources Specialist">Human Resources Specialist</option>
          <option value="IT Consultant">IT Consultant</option>
          <option value="IT Manager">IT Manager</option>
          <option value="IT Project Manager">IT Project Manager</option>
          <option value="IT Support">IT Support</option>
          <option value="IT Support Specialist">IT Support Specialist</option>
          <option value="Juniour HR Coordinator">Juniour HR Coordinator</option>
          <option value="Juniour HR Generalist">Juniour HR Generalist</option>
          <option value="Manager">Manager</option>
          <option value="Marketing Analyst">Marketing Analyst</option>
          <option value="Marketing Coordinator">Marketing Coordinator</option>
          <option value="Marketing Director">Marketing Director</option>
          <option value="Marketing Manager">Marketing Manager</option>
          <option value="Marketing Specialist">Marketing Specialist</option>
          <option value="Network Engineer">Network Engineer</option>
          <option value="Office Manager">Office Manager</option>
          <option value="Operations Analyst">Operations Analyst</option>
          <option value="Operations Coordinator">Operations Coordinator</option>
          <option value="Operations Director">Operations Director</option>
          <option value="Operations Manager">Operations Manager</option>
          <option value="Principal Engineer">Principal Engineer</option>
          <option value="Principal Scientist">Principal Scientist</option>
          <option value="Product Designer">Product Designer</option>
          <option value="Product Development Manager">Product Development Manager</option>
          <option value="Product Manager">Product Manager</option>
          <option value="Product Marketing Manager">Product Marketing Manager</option>
          <option value="Project Coordinator">Project Coordinator</option>
          <option value="Project Engineer">Project Engineer</option>
          <option value="Project Manager">Project Manager</option>
          <option value="Public Relations Manager">Public Relations Manager</option>
          <option value="Quality Assurance Analyst">Quality Assurance Analyst</option>
          <option value="Receptionist">Receptionist</option>
          <option value="Recruiter">Recruiter</option>
          <option value="Research Director">Research Director</option>
          <option value="Research Scientist">Research Scientist</option>
          <option value="Researcher">Researcher</option>
          <option value="Sales Associate">Sales Associate</option>
          <option value="Sales Director">Sales Director</option>
          <option value="Sales Executive">Sales Executive</option>
          <option value="Sales Manager">Sales Manager</option>
          <option value="Sales Operations Manager">Sales Operations Manager</option>
          <option value="Sales Representative">Sales Representative</option>
          <option value="Scientist">Scientist</option>
          <option value="Social Media Man">Social Media Man</option>
          <option value="Social Media Manager">Social Media Manager</option>
          <option value="Social Media Specialist">Social Media Specialist</option>
          <option value="Software Architect">Software Architect</option>
          <option value="Software Developer">Software Developer</option>
          <option value="Software Engineer">Software Engineer</option>
          <option value="Software Engineer Manager">Software Engineer Manager</option>
          <option value="Software Manager">Software Manager</option>
          <option value="Software Project Manager">Software Project Manager</option>
          <option value="Strategy Consultant">Strategy Consultant</option>
          <option value="Supply Chain Analyst">Supply Chain Analyst</option>
          <option value="Supply Chain Manager">Supply Chain Manager</option>
          <option value="Technical Recruiter">Technical Recruiter</option>
          <option value="Technical Support Specialist">Technical Support Specialist</option>
          <option value="Technical Writer">Technical Writer</option>
          <option value="Training Specialist">Training Specialist</option>
          <option value="UX Designer">UX Designer</option>
          <option value="UX Researcher">UX Researcher</option>
          <option value="VP of Finance">VP of Finance</option>
          <option value="VP of Operations">VP of Operations</option>
          <option value="Web Designer">Web Designer</option>
          <option value="Web Developer">Web Developer</option>
      </select>
      <br>

      <label for="experience">Years of Experience</label>
      <input type="number" id="experience" name="experience" min="0" max="100">
      <br>

      <label for="country">Country</label>
      <select name="country" id="country">
        <option value="Australia">Australia</option>
        <option value="Canada">Canada</option>
        <option value="China">China</option>
        <option value="USA">USA</option>
        <option value="UK">UK</option>
      </select>
      <br>

      <label for="race">Race</label>
      <select name="race" id="race">
        <option value="African American">African American</option>
        <option value="Asian">Asian</option>
        <option value="Australian">Australian</option>
        <option value="Black">Black</option>
        <option value="Chineese">Chineese</option>
        <option value="Hispanic">Hispanic</option>
        <option value="Korean">Korean</option>
        <option value="Mixed">Mixed</option>
        <option value="Welsh">Welsh</option>
        <option value="White">White</option>
      </select>
      <br>

      <label for="senior">Senior</label>
      <select name="senior" id="senior">
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
      <br>

      <input type="submit" value="submit">


    </form>
</body>
</html>
